<nz-table
  #table
  [nzData]="data"
  [nzScroll]="tableScroll"
  [nzFrontPagination]="frontPagination"
  [nzTotal]="totalNumberOfData"
  [nzTotal]="totalNumberOfData"
  [nzPageIndex]="pageIndex"
  [nzPageSize]="pageSize"
  [nzShowPagination]="showPagination"
  [nzPaginationPosition]="paginationPosition"
  [nzPaginationType]="paginationType"
  [nzBordered]="showBorder"
  [nzOuterBordered]="outerBordered"
  [nzSize]="sizeOfTable"
  [nzLoading]="loadingStatus"
  [nzTitle]="tableTitle"
  [nzFooter]="tableFooter"
  [nzNoResult]="noResult"
  [nzShowQuickJumper]="showQuickJumper"
  [nzHideOnSinglePage]="hidePaginationOnSinglePage"
>
  <thead nz-thead>
    <tr>
      <th
        *ngFor="let col of tableColumns"
        nz-th
        [nzShowCheckbox]="showCheckboxOnHeader"
        [nzDisabled]="checkboxDisable"
        [nzChecked]="checkboxCheckedStatus"
      >
        {{ col.title }}
      </th>
    </tr>
  </thead>
  <tbody nz-tbody>
    <tr *ngFor="let item of table.data" nz-tr>
      <td *ngFor="let col of tableColumns" nz-td>{{ item[col.field] }}</td>
    </tr>
  </tbody>
</nz-table>
